html,body {
  background-image: url("../img/Arc.jpg");
  font-family: Averia Serif Libre, sans-serif;
  margin: 0px;
  padding: 0px;
}

#siteNav {
  background-color: rgba(111, 119, 132, .9);
}

#navBrand,
#navLinks a{
  color: #fafafa;
}

#navLinks a.group2{
  color: blue;
}

#homepageContent{
  font-family: Cabin Sketch;
  color: #f3f3f3;
  width: 30%;
  height: 30%;
  margin-top: 375px;
  margin-left: 25px;
}

#name {
  font-size: 40px;
  color: steelblue;
  font-weight: bold;
  display: inline;
}

#title {
  font-size: 16px;
  color: black;
  font-weight: normal;
}

.menu {
	position: relative;
	display:  inline-block;
	width: 30px;
	height: 30px;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 30px;
	height: 6px;
	background-color: #fafafa;
	display: block;
}
.menu span:before {
	margin-top: -12px;
}
.menu span:after {
	margin-top: 12px;
}
/* --- btn --- */

.navToggleX span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.navToggleX:hover span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.navToggleX span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.navToggleX:hover span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.navToggleX span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.navToggleX:hover span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
